body {
    background: #C0C0C0;
}
body > h1{
    text-align: center;
}
input[type="text"] {
    width: 300px;
    height: 27px;
}
.inputMsg {
    padding: 5px;
    margin: auto;
    border: 1px solid #CD5C5C;
    border-radius: 4px;
    color: #8B0000;
    background-color: #CD5C5C;
    width:300px;
    height: 20px;
}
#form{
    text-align: center;
}
#form > div{
    padding-bottom: 10px;
}
#send_form_btn{

}
#add_file_field{
    width: 30px;
    height: 30px;
    background: #2B3856;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
}
#img-list-block{
    text-align: center;
}
.form-control{
    text-align: center;
    padding-top:5px;
}